<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="container container-full">
    <div class="ms-paper">
        <div class="row">
            <!-- build:componentsMenu component-modals.html --><!-- /build -->
            <div class="col-lg-9 ms-paper-content-container">
                <div class="ms-paper-content">
                    <h1>Modals</h1>
                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Basic Modals</h2>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default btn-raised" data-bs-toggle="modal" data-bs-target="#myModal">
                        Launch demo modal
                        </button>

                        <!-- Modal -->
                        <div class="modal" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title color-primary" id="myModalLabel">Modal title</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn  btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default btn-raised" data-bs-toggle="modal" data-bs-target="#myModal2">
                        Launch Large modal
                        </button>

                        <!-- Modal -->
                        <div class="modal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                            <div class="modal-dialog modal-lg animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title color-primary" id="myModalLabel2">Modal title</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eum esse quos minima, sint natus adipisci? Earum enim praesentium, ex nam explicabo natus dolores voluptatum nulla, magni aut unde repudiandae?.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default btn-raised" data-bs-toggle="modal" data-bs-target="#myModalxl">
                            Launch XL Large modal
                            </button>
    
                            <!-- Modal -->
                            <div class="modal" id="myModalxl" tabindex="-1" role="dialog" aria-labelledby="myModalLabelxl">
                                <div class="modal-dialog modal-xl animated zoomIn animated-3x" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title color-primary" id="myModalLabelxl">Modal title</h3>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eum esse quos minima, sint natus adipisci? Earum enim praesentium, ex nam explicabo natus dolores voluptatum nulla, magni aut unde repudiandae?.</p>
                                            <p>Adipisicing elit. Sit, aliquid dignissimos voluptatum facilis iste dolor deleniti laudantium. Eos expedita excepturi aliquid perferendis? Excepturi aut consequatur consectetur non veritatis incidunt quam.</p>
                                            <p>Esse temporibus error molestiae ea architecto placeat deleniti magni, earum molestias? Cum consequatur incidunt maiores iusto quidem molestias architecto quibusdam! Odit iure quis nemo quo fuga eum blanditiis cupiditate perferendis maxime enim repellendus ut quibusdam, explicabo nam perspiciatis exercitationem incidunt harum laboriosam!</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default btn-raised" data-bs-toggle="modal" data-bs-target="#myModal3">
                        Launch Small modal
                        </button>

                        <!-- Modal -->
                        <div class="modal" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
                            <div class="modal-dialog modal-sm animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title color-primary" id="myModalLabel3">Modal title</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="card card-info card-code">
                            <div class="card-header card-code-header" role="tab" id="codeHead1">
                                <h4 class="panel-title card-code-title">
                                    <a class="collapsed withripple" role="button" data-bs-toggle="collapse" href="#code1" aria-expanded="false" aria-controls="code1">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code1" class="card-collapse collapse" role="tabpanel" aria-labelledby="codeHead1">
                                <div class="card-code-block">
<pre><code class="language-markup line-numbers">&lt;!-- Button trigger modal --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-raised&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#myModal&quot;&gt;
Launch demo modal
&lt;/button&gt;

&lt;!-- Modal --&gt;
&lt;div class=&quot;modal&quot; id=&quot;myModal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot;&gt;
    &lt;div class=&quot;modal-dialog animated zoomIn animated-3x&quot; role=&quot;document&quot;&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header&quot;&gt;
                &lt;h3 class=&quot;modal-title color-primary&quot; id=&quot;myModalLabel&quot;&gt;Modal title&lt;/h3&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&lt;i class=&quot;zmdi zmdi-close&quot;&gt;&lt;/i&gt;&lt;/span&gt;&lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body&quot;&gt;
                ...
            &lt;/div&gt;
            &lt;div class=&quot;modal-footer&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot; data-bs-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn  btn-primary&quot;&gt;Save changes&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Button trigger modal --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-raised&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#myModal2&quot;&gt;
Launch Large modal
&lt;/button&gt;

&lt;!-- Modal --&gt;
&lt;div class=&quot;modal&quot; id=&quot;myModal2&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel2&quot;&gt;
    &lt;div class=&quot;modal-dialog modal-lg animated zoomIn animated-3x&quot; role=&quot;document&quot;&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Button trigger modal --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-raised&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#myModal3&quot;&gt;
Launch Small modal
&lt;/button&gt;

&lt;!-- Modal --&gt;
&lt;div class=&quot;modal&quot; id=&quot;myModal3&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel3&quot;&gt;
    &lt;div class=&quot;modal-dialog modal-sm animated zoomIn animated-3x&quot; role=&quot;document&quot;&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                </div>
                            </div>
                        </div> <!-- card-code -->
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Color Modals</h2>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-raised" data-bs-toggle="modal" data-bs-target="#myModal4">
                        Primary
                        </button>

                        <!-- Modal -->
                        <div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
                            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="myModalLabel4">Modal title</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-raised btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-info btn-raised" data-bs-toggle="modal" data-bs-target="#myModal5">
                        Info
                        </button>

                        <!-- Modal -->
                        <div class="modal modal-info" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5">
                            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="myModalLabel5">Modal title</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn  btn-info">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-warning btn-raised" data-bs-toggle="modal" data-bs-target="#myModal6">
                        warning
                        </button>

                        <!-- Modal -->
                        <div class="modal modal-warning" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
                            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="myModalLabel6">Modal title</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn  btn-warning">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-danger btn-raised" data-bs-toggle="modal" data-bs-target="#myModal7">
                        danger
                        </button>

                        <!-- Modal -->
                        <div class="modal modal-danger" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel7">
                            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="myModalLabel7">Modal title</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn  btn-danger">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-royal btn-raised" data-bs-toggle="modal" data-bs-target="#myModal8">
                        royal
                        </button>

                        <!-- Modal -->
                        <div class="modal modal-royal" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8">
                            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="myModalLabel8">Modal title</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn  btn-royal">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-success btn-raised" data-bs-toggle="modal" data-bs-target="#myModal9">
                        success
                        </button>

                        <!-- Modal -->
                        <div class="modal modal-success" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel9">
                            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="myModalLabel9">Modal title</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn  btn-success">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-raised" data-bs-toggle="modal" data-bs-target="#myModal10">
                        dark
                        </button>

                        <!-- Modal -->
                        <div class="modal modal-dark" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel10">
                            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="myModalLabel10">Modal title</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dicta. Voluptate cumque odit quam velit maiores sint rerum, dolore impedit commodi. Tempora eveniet odit vero rem blanditiis, tenetur laudantium cumque.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn  btn-dark">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="card card-info card-code">
                            <div class="card-header card-code-header" role="tab" id="codeHead2">
                                <h4 class="panel-title card-code-title">
                                    <a class="collapsed withripple" role="button" data-bs-toggle="collapse" href="#code2" aria-expanded="false" aria-controls="code2">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code2" class="card-collapse collapse" role="tabpanel" aria-labelledby="codeHead2">
                                <div class="card-code-block">
<pre><code class="language-markup line-numbers">&lt;!-- Modal --&gt;
&lt;div class=&quot;modal modal-warning&quot; id=&quot;myModal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot;&gt;
    &lt;div class=&quot;modal-dialog animated zoomIn animated-3x&quot; role=&quot;document&quot;&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header&quot;&gt;
                &lt;h3 class=&quot;modal-title color-primary&quot; id=&quot;myModalLabel&quot;&gt;Modal title&lt;/h3&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&lt;i class=&quot;zmdi zmdi-close&quot;&gt;&lt;/i&gt;&lt;/span&gt;&lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body&quot;&gt;
                ...
            &lt;/div&gt;
            &lt;div class=&quot;modal-footer&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot; data-bs-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn  btn-primary&quot;&gt;Save changes&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                </div>
                            </div>
                        </div> <!-- card-code -->
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Multimedia Modals</h2>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default btn-raised" data-bs-toggle="modal" data-bs-target="#myModal11">
                        Only Video
                        </button>

                        <!-- Modal -->
                        <div class="modal" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11">
                            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="js-player" data-plyr-provider="vimeo" data-plyr-embed-id="94747106"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default btn-raised" data-bs-toggle="modal" data-bs-target="#myModal12">
                        Video with title
                        </button>

                        <!-- Modal -->
                        <div class="modal modal-primary" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12">
                            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="myModalLabel10">Modal title</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                    </div>
                                    <div class="js-player" data-plyr-provider="vimeo" data-plyr-embed-id="94747106"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default btn-raised" data-bs-toggle="modal" data-bs-target="#myModal13">
                        Only Image
                        </button>

                        <!-- Modal -->
                        <div class="modal" id="myModal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel13">
                            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default btn-raised" data-bs-toggle="modal" data-bs-target="#myModal14">
                        Image with title
                        </button>

                        <!-- Modal -->
                        <div class="modal modal-danger" id="myModal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel14">
                            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="myModalLabel10">Modal title</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                    </div>
                                    <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="card card-info card-code">
                            <div class="card-header card-code-header" role="tab" id="codeHead3">
                                <h4 class="panel-title card-code-title">
                                    <a class="collapsed withripple" role="button" data-bs-toggle="collapse" href="#code3" aria-expanded="false" aria-controls="code3">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code3" class="card-collapse collapse" role="tabpanel" aria-labelledby="codeHead3">
                                <div class="card-code-block">
<pre><code class="language-markup line-numbers">&lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-raised&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#myModal11&quot;&gt;
Only Video
&lt;/button&gt;

&lt;div class=&quot;modal&quot; id=&quot;myModal11&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel11&quot;&gt;
    &lt;div class=&quot;modal-dialog animated zoomIn animated-3x&quot; role=&quot;document&quot;&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;js-player&quot; data-type=&quot;vimeo&quot; data-plyr-embed-id=&quot;94747106&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                </div>
                            </div>
                        </div> <!-- card-code -->
                    </section>
                </div> <!-- ms-paper-content -->
            </div> <!-- col-lg-9 -->
        </div> <!-- row -->
    </div> <!-- ms-paper -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
