<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="text-center mb-6">
    <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Gallery</h1>
    <p class="lead lead-lg color-white text-center center-block mt-2 mb-4 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Discover our projects and the <span class="colorStar">rigorous process</span> of creation. Our principles are creativity, design, experience and knowledge.</p>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port1.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port1.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port2.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port2.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port3.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port3.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port4.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port4.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port5.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port5.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port6.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port6.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port7.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port7.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port8.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port8.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port9.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port9.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port10.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port10.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port11.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port12.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port12.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port13.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port13.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port14.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port14.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port15.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port15.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port16.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port16.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port17.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port17.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port18.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port18.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port19.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port19.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card wow zoomIn">
                <div class="ms-thumbnail card-body p-05 ">
                    <div class="withripple zoom-img">
                        <a href="<%= assets %>/img/demo/port20.jpg" data-lightbox="gallery" data-title="My caption" c><img src="<%= assets %>/img/demo/port20.jpg" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- ms-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>/js/portfolio.js"></script>

</body>
</html>
